@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');
*,*::before,*::after{
	box-sizing: border-box;
}

::selection{
	color: #f3f5f6;
	background: #ef5350;	
}
.readerble-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin:-1px;
	clip:rect(0,0,0,0);
	visibility: hidden;
}
.clearfix::after{
	content:'';
	display: block;
	clear: both;
}
/*https://meyerweb.com/eric/tools/css/reset/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1; /*line-height:1 ;라인 높이가 폰트크기와 같다는 의미,한글에서 문제가 있을 수 있음,그러므로 1.2/1.15사용*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  line-height: 1.15;
  color: #181818;
  background-color: #ffffff;
  font-size: 2rem;
  /* background-image: linear-gradient(-45deg,#642B73,#C6426E)
   */
   background-color:#E9EDEF
   
}
/* responsive 이미지 */
img{
	max-width: 100%;
	height: auto;
}
.container{
	width: 1200px;
	margin: 0 auto; 
} /*클래스 선언, 기본 박스모델은 content-box모델*/
/* 헤더 */
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:80px 0;
}

/* 메인 메뉴 */

.menu{
	display: flex;
}
.menu li{
	justify-content: space-between;
	font-size: 2.5rem;
	font-family: 'Spoqa Han Sans',sans-serif;
	font-weight: 700;
	margin-left: 1em;
	text-transform: uppercase;
	letter-spacing:-1px; /* 자간 */
}
.menu .is-act{
	border-bottom:2px solid #181818;
}
/* 포트폴리오 섹션*/
.product{
	display: flex;
	background-color: #fff;
	border:1px solid #aaaaaa  ;
	padding:50px;	
	margin : 40px;
	align-items: center;

}
/* 플로트를 활용한 레이아웃 */
/* .product .wrapper{
	background-color: yellow;
	float: left
} */
/* flex를 활용한 레이아웃 */

.thumbnail{
	margin-right: 50px;
}
.product .subject{
	font-family: 'Spoqa Han Sans',sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size:3.5rem;
}
.product .summary{
	margin:1em 0;
}
.product .more{
	color:#ef5350;
	font-size:1.5rem;
}
.footer{

	margin: 150px 40px 50px 40px;
	font-size: 1.5rem;
	display: flex;
}
.email{
}
.sns {
	display: flex;
}
.sns li::before{
	content: "·";

	margin: 0 5px;
}
.copyright{

	margin-left: auto;
}
/* PORTFOLIO */
.portfolio{
	text-align: center;
	font-size: 3rem;
}
.light{
	background-color: #fff;
	padding: 1em 2em;

}
.gray{
	background-color: #999;
	color:#000;
	padding:1em 2em;
}
.dark{
	background-color: #1a1e23;
	color: #f3f5f6;
	padding: 1em 2em;
}

.dark .comment{
	color: #aaaaaa;
	font-size: 2rem;
	font-style: italic;
}
.portfolio .wrapper{
	width: 750px;
	margin:0 auto;
	text-align: left;
}
.portfolio .title{
	font-size: 5rem;
	font-family: "Spoqa Han Sans";
	font-weight: 700;
	padding:1em 0;
	text-transform: uppercase;
}
.portfolio .small{
	font-size: 2rem;
	font-weight: 700;
	padding: 0;
}
.portfolio .regular{
	font-size: 2.5rem;

}
.portfolio .medium{
	font-size: 4rem;
}
.portfolio p{
	font-size: 2rem;
	margin:1.5rem 0;
	line-height: 2;
}

.portfolio .thumbnail{
	width: 100%;
	font-size:1.5rem;
}

.portfolio ol{
	list-style: decimal;
	padding-left: 50px;
}
.portfolio li{
	margin: 1em 0
}

.next-portfolio{
	padding:4em 3em;
	display: flex;
	justify-content: space-between;
}

.next-title{
	color: #aaa;
	text-transform: uppercase;
	font-family: "Spoqa Han Sans";
	font-weight: 700;
}
.next-portfolio a{
	color:#ef5350;
}
.next-portfolio a::after{
	content: "→";
}
